/* font style here */
.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1600px;
    max-width: 1280px;
    margin: 0 160px;
    background-color: #F5F5F5;
}

/* nav section style stars here */
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
ul li{
    list-style: none;
}
.nav-title{
    
    font-weight: bold;
    font-size: 32px;
}
ul li a{
    text-decoration: none;
   
}
.nav-btn{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    border:1px solid  #006A50;
    color: #006A50;
    border-radius: 8px;
}
.nav-btn:hover{
    background-color: #006A50;
    color: #ffffff;
}
/* nav section style ends here */

/* banner-section-style starts here */
  .banner{
    height: 560px;
    background-color: #C6E4D6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 24px;
 
  }
  .hero-content{
    width: 622px;
    height: 326px;
    margin: 162px 60px;
  }
  .banner-title{
   color:#0e0e0e7a;
   font-size: 24px;
  }
  .banner-content{
   font-size: 56px;
   font-weight: bold;
   color: #0E0E0E;
  }
  .hero-btn{
    font-size: 18px;
    font-weight: 600px;
    color: #ffffff;
    margin-top: 24px;
    background-color: #006A50;
    border-radius: 8px;
    padding:17px 34px;
    border: none;
    
  }
  .hero-btn:hover{
    background-color: #13ddab;
  }
  .hero-img{
    width: 475px;
    height: 400px;

    margin: 80px 60px;
  }

/* banner-section-style ends here */

/* pillars section style stars here */
.pillar-section{
    height: 300px;
    margin-top: 80px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px 24px;
    
    
}

.card{
    width: 302px; 
    height: 244px;
    margin-top: 32px;
    padding: 24px;
    border-radius: 16px;
    background-color: #ffffff;
    
}

.card:hover{
   background-color: #95cbb3;
}
  .pillar-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;

  }
  .card-icon{
    width: 62px;
    height: 62px;
  }
  .card-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
  }
  .card-description{
    color: #0e0e0e9c;
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
  }
/* pillars section style ends here*/

/* vision-section style starts here */
.vision-section{
    height: 765px;
    margin-top: 80px;
}
.vision-title{
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
}
.vision-description{
  font-size: 16px;
  color: #0e0e0eb3;
  margin-top: 24px;
}
.vision-card-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.vision-card-1{
    width: 410px; 
    height: 325px;
    margin-top: 32px;
    padding: 24px;
    border-radius: 16px;
    background-color: #548ff551;
    padding: 32px;
    transition:ease-in 0.3s;

  }

  .vision-card-2{
    width: 410px; 
    height: 325px;
    margin-top: 32px;
    padding: 24px;
    border-radius: 16px;
    background-color: #C6E4D6;
    padding: 32px;
    transition:ease-in 0.3s;

  }

  .vision-card-3{
    width: 410px; 
    height: 325px;
    margin-top: 32px;
    padding: 24px;
    border-radius: 16px;
    background-color: #F7EBCF;
    padding: 32px;
    transition:ease-in 0.3s;
  }

  .vision-card-1:hover{
    background-color: #0c8e53;
    color: white;
  }

  .vision-card-2:hover{
    background-color: #2f8e0c;
    color: white;
  }

  .vision-card-3:hover{
    background-color: #0c8e35;
    color: white;
  }


  .card-icon img{
    width:64px ;
    height: 64px;
  }
  .vision-card-title{
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    color: #0e0e0eb0;
  }
  .v-btn1{
    margin: 40px 0;
    padding: 11px 20px;
    border-radius: 8px;
    background-color: #5490F5;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
    border: none;
    transition: ease-in-out 0.3s;

  }

  .v-btn2{
    margin: 40px 0;
    padding: 11px 20px;
    border-radius: 8px;
    background-color: #09A15C;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
    border: none;
    transition: ease-in-out 0.3s;

  }

  .v-btn3{
    margin: 40px 0;
    padding: 11px 20px;
    border-radius: 8px;
    background-color: #FFC239;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
    border: none;
    transition: ease-in-out 0.3s;
  }
  .v-btn1:hover{
    background-color: rgb(16, 225, 131);
  }
  .v-btn2:hover{
    background-color: rgb(81, 112, 8);
  }
  .v-btn3:hover{
    background-color: rgb(225, 120, 16);
  }

.yunus{
  background-color: #ffffff;
  height: 256px;
  margin-top: 32px;

}

/* vision-section style ends here */


/* hero section style starts here */
.yunus-content{

  padding:48px 24px ;
 
}
.y-description{
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  margin:20px 25pxpx ;
  font-size: 16px;
  color: #0e0e0eb6;
  line-height: 24px;
  margin-bottom: 12px;
}
.y-title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #0E0E0E;
}
.designation{
  font-size: 16px;
  line-height: 24px;
  color: #0e0e0e72;
}

/* hero section style ends here */
  

/* news section style starts here */
.news-section{
  height: 1410px;
}
.newstype{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #0E0E0E;
}
.news-descriptions{
  font-size: 16px;
  color: #0e0e0ea8;
  margin-bottom: 32px;
}
.news{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 24px;
  padding: 48px;
  background-color: #ffffff;
  border-radius: 24px;

}
.news-heading{
  font-size: 32px;
  font-weight: bold;
  color: #0E0E0E;
}
.news-channel-logo{
  margin: 12px 0;
}
.publication {
  margin-bottom: 12px;
  color: #0e0e0eb8;
}
.news-des{
  font-size: 16px;
  line-height: 24px;
  color: #0e0e0eb8;
}
.news-image img{
  width: 408px;
  height: 306px;
  border-radius: 24px;
}
.news-content{
  width: 744px;
  height: 290px;
}
.common-btn{
    border: 0;
    background-color: #006A50;
    color: #ffffff;
    padding: 13px 26px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 32px;
    transition:all 0.5s;
  }
  .common-btn:hover{
    background-color: #0cf089;
  }
/* news section style starts here */

/* denote section style start */
  .denote{
   margin: 80px 0;
   text-align: center;
  }
  .denote-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
  }
  .denote-description{
    font-size: 16px;
    line-height: 24px;
    color: #0e0e0e9f;
  }

  .denote-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 32px 104.5px;
  }
  .amount-card-1{
    width: 240px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 40px;
    transition: ease-in-out 0.5s;
  }
  .amount-card-1:hover{
    background-color: #0e5535;
    color: #ffffff;
  }
  .amount-card-2{
    width: 252px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: #C6E4D6;
    padding: 40px;
    transition:ease-in-out 0.5s;

  }
  .amount-card-2:hover{
    background-color: #0e5535;
    color: #ffffff;
  }
  .common-denote-amount{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
  }
  .amount-card-3{
    width: 243px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 40px;
    transition: ease-in-out 0.5s;
  }
  .amount-card-3:hover{
    background-color: #0e5535;
    color: #ffffff;
  }
  .amount-card-4{
    width: 264px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 40px;
    transition: ease-in-out 0.5s;
  }
  .amount-card-4:hover{
    background-color: #0e5535;
    color: #ffffff;
  }

  .denote-input-box{
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .denote-input-field{
    width: 1032px;
    height: 64px;
    margin: 32px 284px;
    padding: 20px 40px;
    text-align: center;
    border: none;
    outline: none;
  }
  ::placeholder{
    color: #0e0e0e4b;
    font-size: 20px;
  }
  .denote-button{
    border-radius: 8px;
    background-color: #006A50;
    padding: 17px 34px;
    color: #ffffff;
    font-weight: 600;
    border: none;
  }
/* denote section style end */


/* news letter section style start here */

.newsLetter{
    margin-bottom: 80px;
    height: 395px;
    background-color: #C6E4D6;
    text-align: center;
    padding: 80px 100px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
}
.newsContainer{
    width: 750px;
    height: 235px;
 
    margin: 0 auto;
}
.footer-news-title{
    color: 0E0E0E;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.description{
    width: 622px;
    height: 48px;
    text-align: center;
    margin: 16px auto;
}
.news-subtitle{
   color: #0e0e0e98;
    font-size: 16px;
    line-height: 24px;
}
.form{
    width: 750px;
    height: 6px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form input{
    width: 600px;
    border: none;
    outline: 0;
    padding: 17px 34px;
}


.sub-btn{
   
  border: 0;
  background-color: #006A50;
  color: #ffffff;
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
   
  
}
.sub-btn:hover{
  background-color: #f0910c;
}
.promise{
 margin: 24px 64px;
}
::placeholder{
  font-size: 16px;
  color: #0e0e0e3f;
}
/* news letter section style ends here */

/* footer-section starts here */
   .footer-sections{
    text-align: center;
    margin-top: 50px ;
    margin-bottom: 138px ;
   }
   .footer-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
   }
   .footer-icon{
    margin-top: 32px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
   }
/* footer-section starts here */

  
  
    
